<h1><%= @author.first_name %> - <%= @author.last_name %></h1>
<%= link_to 'Authors', authors_path, class: 'btn btn-info' %>
<%= link_to 'Update', edit_author_path(@author.id), class: 'btn btn-success' %>
